{{> head }}
{{> navbar }}
<div class="row">
    <div class="class">
        <h1>Pagina About</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/avengers.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}